*{
  font-family: "Poppins", sans-serif;
}

.banner{
  background-image: url(../Img/slide1.jpg);
  height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.landing-page{
  max-width: 800px;
  display: flex;
  min-height: 85dvh;
  align-items: center;
}

.about{
  height: auto;
}

.img-fluid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto;
  width: auto;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(204, 204, 204);
}
html::-webkit-scrollbar-thumb {
  background: #9b9b9b;
}

.myimg{
  display: flex;
  justify-content: center;
  height: 15cm;
  padding: 20px;
}
.card-img-top {
  width: 100%;
  height: 10vh;
  object-fit: cover;
}

.logo1{
  width: 5%;
  height: 5%;
}

.skill{
  display: flex;
  justify-content: center;
}

.py-5 {
  padding-top: 7rem !important;
  padding-bottom: 3rem !important;
}

.contact{
  padding-top: 50px;
}

#github{
  object-fit:contain;
}

#sci{
  object-fit:cover;
}

.typing-text{
  color: rgb(197, 2, 2);
}

.aboutpara{
  width: auto;
}

.content{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: center;
}

.email ,
.place{
  color: blue;
}


/*project section*/

.project-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(33.333% - 20px); /* Three cards per row */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.project-image-container {
  position: relative;
}

.image-border {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.project-card-img-top {
  width: 100%;
  height: auto;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(45, 45, 45, 0.8);
  opacity: 0;
  transition: opacity .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-border:hover .project-overlay {
  opacity: 1;
}

.project-icons {
  display: flex;
  gap: 20px;
}

.project-icon {
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.project-icon:hover {
  color: #ddd;
}

.project-card-body {
  padding: 20px;
}

.project-card-title {
  margin: 0;
  font-size: 1.5em;
}

.project-card-text {
  margin: 10px 0;
  color: #555;
}

@media (max-width: 1540px) {
  .project-card {
    width: calc(50% - 20px); /* Two cards per row on medium screens */
  }
}

@media (max-width: 576px) {
  .project-card {
    width: 100%; /* One card per row on small screens */
  }
}



/* fadding bottom

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
}
@media (prefers-reduced-motion: no-preference){
  .card{
    view-timeline-name: --item-timeline;
    animation: slide-fade-in both;
    animation-timeline: --item-timeline;
    animation-range: contain 0% contain 50%;
  }
}
*/